---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>

  <ul>
  {% for nav_item in site.navigation %}
    <li>
      {% if nav_item.title == "baka.io" %}
        <!-- If the title is "baka.io", add the "btn" class -->
        <a href="{{ nav_item.url }}" class="btn">{{ nav_item.title }}</a>
      {% else %}
        <!-- For all other nav items, do not add the "btn" class -->
        <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>

</html>

